@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url("./fonts/GillSans.woff") format('woff');
}

.app {
    font-family: 'MyFont', serif;
    background: #E5E5E5;
    padding: 20px;
}

a {
    color: black
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.link_active a {
    color: blue;
}

.link_active a:hover {
    color: blue;
}
.doc_header{
    font-size: 36px;
}
.doc_version {
    font-family: 'MyFont', serif;
    font-size: 18px;
    line-height: 21px;
    color: #00A6ED;
}

.menu, .content {
    background: #fff;
    border-radius: 10px;
}

.menu {
    margin-right: 10px;
    padding: 40px;
    min-width: 350px;

}
.form-control {
    padding-left: 2rem;
    border: none;
}
.doc_search_icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.doc_search::before,.doc_search::after{
    content: "";
    display: block;
    border-top: 1px solid #F1F1F1;;
    margin-left: -40px;
    margin-right: -40px;
}
.content {
    padding-right: 35px;
    padding-left: 80px;
    padding-bottom: 30px;
    width: 100%;
}

.content-top-header {
    padding: 20px 20px 20px 0;
}

.content-bottom-header {
    font-size: 20px;
    line-height: 24px;
    color: #292929;
    font-weight: bolder;
    padding: 50px 0 50px;
}

.content-text {
    font-family: Arial, serif;
    font-size: 16px;
    line-height: 26px;
    color: #292929;
}
.content-code {
    background-color: #FBFBFB;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 20px;
}

.content-code-header {
    font-family: Arial, serif;
    font-size: 14px;
    line-height: 23px;
    color: #00A6ED;
}

.content-code-text {
    width: 478px;
    height: 23px;
    font-family: Arial, serif;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
}

.navigation {
    display: flex;
    justify-content: space-between;
}
.navigation span {
    font-size: 20px;
    line-height: 24px;
    color: #00A6ED;
}
.my-container{
    display: flex;
    justify-content: space-between;
}

